.App-aside {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    height: 100%;
    padding: 25px;
    margin-top: 25px;
    background: aliceblue;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
}